# Qualitative Result

# CONTENTS

1. [SNLI Baseline Analysis](#SNLI-Baseline-Analysis)
2. [SNLI BERT Analysis](#SNLI-BERT-Analysis)
3. [SNLI RoBERTa Analysis](#SNLI-RoBERTa-Analysis)
4. [SNLI ALBERT Analysis](#SNLI-ALBERT-Analysis)
5. [SNLI XLNET Analysis](#SNLI-XLNET-Analysis)
6. [MNLI Baseline Analysis](#MNLI-Baseline-Analysis)
7. [MNLI BERT Analysis](#MNLI-BERT-Analysis)
8. [MNLI RoBERTa Analysis](#MNLI-RoBERTa-Analysis)
9. [MNLI ALBERT Analysis](#MNLI-ALBERT-Analysis)
10. [MNLI XLNET Analysis](#MNLI-XLNET-Analysis)

In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
from IPython.display import display, HTML, Markdown 
from lr.analysis.util import get_ts_from_results_folder 
from lr.stats.h_testing import get_paired_t_statistic
from matplotlib.ticker import FuncFormatter
from glob import glob
from lr.text_processing.util import pre_process_nli_df, get_corpus, get_vocab_count
from lr.training.util import get_ternary_label, filter_df_by_label
from collections import Counter

### Functions

In [2]:
def count_mismatch(paths, size):
    counter = {i:0 for i in range(size)}
    for path in paths:
        df = pd.read_csv(path)
        mismatch_ids  = list(df[df.A != df.B].index)
        for i in mismatch_ids:
            counter[i]+=1
    counter = Counter(counter)
    
    return counter

def show_qualitative_analysis(data,
                              model,
                              test_data,
                              transormed_test_data,
                              path_syn_noun,
                              header,
                              top_n,
                              number_test,
                              top_words):
    
    display(Markdown(header))
    display(Markdown("\n"))
    size = test_data.shape[0]

    paths = []


    for i in range(1, number_test+1):
        paths += glob("raw_results/{}/{}/syn_p_h/batch{}/*.csv".format(data,model,i))


    ids_mismatch = count_mismatch(paths=paths, size=size)
    ids = [i[0] for i in ids_mismatch.most_common(top_n)]

    display(Markdown("#### Top {} Most Frequent Mismatches".format(top_n)))
    display(Markdown("\n"))
    for i in ids:
        original = test_data.loc[[i],:]
        original.index = ["original"]
        transformed = transormed_test_data.loc[[i],:]
        transformed.index = ["transformed"]
        df = pd.concat([original, transformed])    
        display(HTML(df.to_html()))

    display(Markdown("#### Label Distribution"))
    display(Markdown("\n"))
    label_distr = ((test_data.loc[ids].label.value_counts()/top_n).apply(lambda x : "{:.1%}".format(x))).to_frame()
    display(HTML(label_distr.to_html()))

    display(Markdown("\n"))
    display(Markdown("#### Top {} Most Frequent Translations".format(top_n)))
    display(Markdown("\n"))
    syn_noun = pd.read_csv(path_syn_noun)
    syn_noun_map = {k:v for k,v in zip(syn_noun.key, syn_noun.value)}
    t_count = get_vocab_count(test_data.loc[ids,:])
    noums = []

    for i in t_count:
        if i in syn_noun_map:
            noums.append((i, syn_noun_map[i], t_count[i]))
    noums = pd.DataFrame(noums, columns=["original", "transformed", "count"])
    noums = noums.sort_values("count", ascending=False).reset_index(drop=True).head(top_words)
    display(HTML(noums.to_html()))

## SNLI

In [3]:
path_snli = "data/snli/test.csv" 
path_snli_t = "data/snli/test_p_h_syn_noun.csv"
path_syn_noun_snli = "data/snli/syn_noun.csv"

test_snli = pd.read_csv(path_snli)
test_snli_t = pd.read_csv(path_snli_t)


test_snli = filter_df_by_label(test_snli.dropna()).reset_index(drop=True)
test_snli_t = filter_df_by_label(test_snli_t.dropna()).reset_index(drop=True)

pre_process_nli_df(test_snli)
pre_process_nli_df(test_snli_t)

In [4]:
show_qualitative_analysis(data="snli",
                          model="xgb",
                          test_data=test_snli,
                          transormed_test_data=test_snli_t,
                          path_syn_noun=path_syn_noun_snli,
                          header="# SNLI-Baseline-Analysis",
                          top_n=10,
                          number_test=5,
                          top_words=10)

# SNLI-Baseline-Analysis

#### Top 10 Most Frequent Mismatches

#### Label Distribution

#### Top 10 Most Frequent Translations

In [5]:
show_qualitative_analysis(data="snli",
                          model="bert_base",
                          test_data=test_snli,
                          transormed_test_data=test_snli_t,
                          path_syn_noun=path_syn_noun_snli,
                          header="# SNLI-BERT-Analysis",
                          top_n=10,
                          number_test=5,
                          top_words=10)

# SNLI-BERT-Analysis

#### Top 10 Most Frequent Mismatches

#### Label Distribution

#### Top 10 Most Frequent Translations

In [6]:
show_qualitative_analysis(data="snli",
                          model="roberta_base",
                          test_data=test_snli,
                          transormed_test_data=test_snli_t,
                          path_syn_noun=path_syn_noun_snli,
                          header="# SNLI-RoBERTa-Analysis",
                          top_n=10,
                          number_test=5,
                          top_words=10)

# SNLI-RoBERTa-Analysis

#### Top 10 Most Frequent Mismatches

#### Label Distribution

#### Top 10 Most Frequent Translations

In [7]:
show_qualitative_analysis(data="snli",
                          model="albert_base",
                          test_data=test_snli,
                          transormed_test_data=test_snli_t,
                          path_syn_noun=path_syn_noun_snli,
                          header="# SNLI-ALBERT-Analysis",
                          top_n=10,
                          number_test=5,
                          top_words=10)

# SNLI-ALBERT-Analysis

#### Top 10 Most Frequent Mismatches

#### Label Distribution

#### Top 10 Most Frequent Translations

In [8]:
show_qualitative_analysis(data="snli",
                          model="xlnet_base",
                          test_data=test_snli,
                          transormed_test_data=test_snli_t,
                          path_syn_noun=path_syn_noun_snli,
                          header="# SNLI-XLNET-Analysis",
                          top_n=10,
                          number_test=5,
                          top_words=10)

# SNLI-XLNET-Analysis

#### Top 10 Most Frequent Mismatches

#### Label Distribution

#### Top 10 Most Frequent Translations

## MNLI

In [9]:
path_mnli = "data/mnli/test.csv" 
path_mnli_t = "data/mnli/test_p_h_syn_noun.csv"
path_syn_noun_mnli = "data/mnli/syn_noun.csv"

test_mnli = pd.read_csv(path_mnli)
test_mnli_t = pd.read_csv(path_mnli_t)


test_mnli = filter_df_by_label(test_mnli.dropna()).reset_index(drop=True)
test_mnli_t = filter_df_by_label(test_mnli_t.dropna()).reset_index(drop=True)

pre_process_nli_df(test_mnli)
pre_process_nli_df(test_mnli_t)

In [10]:
show_qualitative_analysis(data="mnli",
                          model="xgb",
                          test_data=test_mnli,
                          transormed_test_data=test_mnli_t,
                          path_syn_noun=path_syn_noun_mnli,
                          header="# MNLI-Baseline-Analysis",
                          top_n=10,
                          number_test=5,
                          top_words=10)

# MNLI-Baseline-Analysis

#### Top 10 Most Frequent Mismatches

#### Label Distribution

#### Top 10 Most Frequent Translations

In [11]:
show_qualitative_analysis(data="mnli",
                          model="bert_base",
                          test_data=test_mnli,
                          transormed_test_data=test_mnli_t,
                          path_syn_noun=path_syn_noun_mnli,
                          header="# MNLI-BERT-Analysis",
                          top_n=10,
                          number_test=5,
                          top_words=10)

# MNLI-BERT-Analysis

#### Top 10 Most Frequent Mismatches

#### Label Distribution

#### Top 10 Most Frequent Translations

In [12]:
show_qualitative_analysis(data="mnli",
                          model="roberta_base",
                          test_data=test_mnli,
                          transormed_test_data=test_mnli_t,
                          path_syn_noun=path_syn_noun_mnli,
                          header="# MNLI-RoBERTa-Analysis",
                          top_n=10,
                          number_test=5,
                          top_words=10)

# MNLI-RoBERTa-Analysis

#### Top 10 Most Frequent Mismatches

#### Label Distribution

#### Top 10 Most Frequent Translations

In [13]:
show_qualitative_analysis(data="mnli",
                          model="albert_base",
                          test_data=test_mnli,
                          transormed_test_data=test_mnli_t,
                          path_syn_noun=path_syn_noun_mnli,
                          header="# MNLI-ALBERT-Analysis",
                          top_n=10,
                          number_test=5,
                          top_words=10)

# MNLI-ALBERT-Analysis

#### Top 10 Most Frequent Mismatches

#### Label Distribution

#### Top 10 Most Frequent Translations

In [14]:
show_qualitative_analysis(data="mnli",
                          model="xlnet_base",
                          test_data=test_mnli,
                          transormed_test_data=test_mnli_t,
                          path_syn_noun=path_syn_noun_mnli,
                          header="# MNLI-XLNET-Analysis",
                          top_n=10,
                          number_test=5,
                          top_words=10)

# MNLI-XLNET-Analysis

#### Top 10 Most Frequent Mismatches

#### Label Distribution

#### Top 10 Most Frequent Translations