In [1]:
import pandas as pd
from IPython.display import display, HTML
from lr.text_processing.util import pre_process_nli_df
from lr.training.util import filter_df_by_label

In [2]:
original_path = "data/snli/train.csv" 
transformed_path = "data/snli/train_p_h_syn_noun.csv"

df = pd.read_csv(original_path)
df = filter_df_by_label(df.dropna()).reset_index(drop=True)
pre_process_nli_df(df)
df_t = pd.read_csv(transformed_path)

In [3]:
check = [3009,
         31179,
         61075,
         74197,
         88711,
         131562,
         143926,
         170392,
         174061,
         184178,
         192313,
         238926,
         251704,
         279122,
         301305,
         312990,
         322922,
         329975,
         347770,
         363445,
         368980,
         371078,
         401002,
         413867,
         454719,
         459003,
         486563,
         497558,
         513146,
         519575,
         534719,
         18808,
        124977,
        169880,
        172129,
        184697,
        195049,
        232501,
        325831,
        338546,
        369476,
        375972,
        421782,
        442005,
        460692,
        502553,
        24243, 113960, 
         180045, 182916, 
         205379, 256923,
         279396, 343511,
         347215, 450100,
         345301, 354199,
         290594, 47779,
         170368, 310142,
         194644, 119556,
         385811, 255560,
         157335, 425041,
         24430, 271501, 
         516492, 12435]

In [4]:
check.sort()
# df = df.loc[check]
# df_t = df_t.loc[check]
print(len(check))

72

In [5]:
samples = 1000
good = []
bad = []
count = 0

for _ in range(samples):
    count += 1
    original = df.sample()
    id_ = original.index[0]
    print("\noriginal\n")
    display(HTML(original.to_html()))
    modified = df_t.loc[id_].to_frame().transpose()
    print("\nmodified\n")
    display(HTML(modified.to_html()))
    print("\ndecide\n")
    decision = input()
    if decision == "y":
        good.append(id_)
    elif decision =="n":
        bad.append(id_)
    else:
        break
        
g = len(good) / count
b = len(bad) / count
print("count = {}\n".format(count))
print("good pct = {:.3f} | bad pct = {:3f}".format(g,b))

original

modified

decide

 n

original

modified

decide

 k

count = 2

good pct = 0.000 | bad pct = 0.500000

In [6]:
# ids = bad + good
ids = bad
ids

[215675]