In [1]:
import pandas as pd
from IPython.display import display, HTML
from lr.text_processing.util import pre_process_nli_df
from lr.training.util import filter_df_by_label

In [2]:
original_path = "data/snli/train.csv" 
transformed_path = "data/snli/train_p_h_syn_noun.csv"

df = pd.read_csv(original_path)
df = filter_df_by_label(df.dropna()).reset_index(drop=True)
pre_process_nli_df(df)
df_t = pd.read_csv(transformed_path)

In [ ]:
samples = 1000
good = []
bad = []
count = 0

for _ in range(samples):
    count += 1
    original = df.sample()
    id_ = original.index[0]
    print("\noriginal\n")
    display(HTML(original.to_html()))
    modified = df_t.loc[id_].to_frame().transpose()
    print("\nmodified\n")
    display(HTML(modified.to_html()))
    print("\ndecide\n")
    decision = input()
    if decision == "y":
        good.append(id_)
    elif decision =="n":
        bad.append(id_)
    else:
        break
        
g = len(good) / count
b = len(bad) / count
print("count = {}\n".format(count))
print("good pct = {:.3f} | bad pct = {:3f}".format(g,b))

original

modified

decide

 n

original

modified

decide

 n

original

modified

decide

 n

original

modified

decide

 n

original

modified

decide

 y

original

modified

decide

In [ ]:
ids = bad + good
ids.sort()

In [ ]:
ids