In [1]:
import pandas as pd
import numpy as np
from lr.text_processing.util import pre_process_nli_df
from lr.text_processing.transformations.util import get_transformed_part_by_syn
from lr.text_processing.transformations.util import syn2tranformation
from lr.text_processing.transformations.util import get_augmented_data
from lr.text_processing.transformations.synonyms import toy
from lr.training.util import label2ternary_label

In [2]:
df = pd.read_csv("data/toy/train.csv")
df.head(5)

,premise,hypothesis,label
0,A couple playing with a little boy on the beach.,A couple are playing with a young child outside.,entailment
1,A man with a red shirt is watching another man...,The men are outside.,neutral
2,A busy city that looks like New York City.,"The city looks like Lawrence, Kansas.",contradiction
3,A blond woman with two children is checking ou...,A mother is with her two children at Walmart b...,neutral
4,Two people pose for the camera.,People pose for a family picture.,neutral

In [3]:
pre_process_nli_df(df)
label2ternary_label(df)
df.head(5)

,premise,hypothesis,label
0,a couple playing with a little boy on the beach,a couple are playing with a young child outside,1
1,a man with a red shirt is watching another man...,the men are outside,0
2,a busy city that looks like new york city,the city looks like lawrence kansas,-1
3,a blond woman with two children is checking ou...,a mother is with her two children at walmart b...,0
4,two people pose for the camera,people pose for a family picture,0

### number of modifications using `toy`

In [4]:
df_t = get_transformed_part_by_syn(df, toy)
print(df_t.shape)
df_t.head(5)

(392, 3)

,premise,hypothesis,label
1,a man with a red shirt is watching another man...,the men are outside,0
2,a busy city that looks like new york city,the city looks like lawrence kansas,-1
3,a blond woman with two children is checking ou...,a mother is with her two children at walmart b...,0
5,a man in a bright green shirt shows a woman in...,the woman is wearing blue,-1
8,a man with a beard wearing a red shirt with gr...,a man is dragging a sled behind him,0

In [11]:
aug = get_augmented_data(df=df.copy(),
                         transformation=syn2tranformation(toy),
                         frac=1)
aug.head(7)

,premise,hypothesis,label
0,a couple playing with a little boy on the beach,a couple are playing with a young child outside,1
1,a guy with a red shirt is watching another guy...,the men are outside,0
2,a busy town that looks like new york town,the town looks like lawrence kansas,-1
3,a blond gal with two children is checking out ...,a mother is with her two children at walmart b...,0
4,two people pose for the camera,people pose for a family picture,0
5,a guy in a bright green shirt shows a gal in a...,the gal is wearing blue,-1
6,two older men are talking,two people are having a conversation,1

In [17]:
a = (aug.premise != df.premise) | (aug.hypothesis != df.hypothesis)
a.sum()

392

In [19]:
aug = get_augmented_data(df=df.copy(),
                         transformation=syn2tranformation(toy),
                         frac=0)
a = (aug.premise != df.premise) | (aug.hypothesis != df.hypothesis)
a.sum()

In [20]:
a = (aug.premise != df.premise) | (aug.hypothesis != df.hypothesis)
a.sum()

0